{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>This blog is created by David Chang and powered by Python. Although this is not a fancy one, basic functions are nicely supported, including register, login/logout, authority to edit/delete articles, password security, and text editor.</p>
        <p>This blog is not created from scratch. On-line Python course helps a lot, including web style. </p>
        <p>It is welcome to register and then add post or leave comment on specific post. BTW, "Contact Me" doesn't work. Don't waste your time to fill out the form.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}